body {
  font-family: Arial;
  margin: 40px;
}

section {
  width: calc(70vw - 100px);
  background: tomato;
}

div {
  background: lightblue;
  width: calc(30vw - 100px);
  height: calc(100vh / 3);
}

.px {
  font-size: 16px;
  padding: 16px 32px;
}

.rem {
  font-size: 1rem;
  padding: 1rem 2rem;
}

html {
  font-size: 100%;
}

p {
  background: lightblue;
}

a {
  text-decoration: none;
  background: darkblue;
  color: white;
  display: inline-block;
}

.em {
  font-size: 2em;
}

h2 {
  text-decoration: none;
}
