h1,
a {
  color: red;
}

p a {
  color: black;
}

#intro {
  color: blue;
}

.bicicleta {
  color: green;
}

.carro {
  color: yellow;
}

.azul {
  color: blue;
}

.grande {
  font-size: 20px;
}

.underline {
  text-decoration: underline;
}
